@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* Variablen */

:root{
    --nav-footer-padding: 38px;
    --neon-color: #ff14bd;
    --neon-color2: #64baaa;
    --neon-color3: #c4fcf0;
    --neon-color4: #4c8076;
    --neon-bg-color: #090909;
    --text-color: #ffffff;
    --neon-font: "Balsamiq Sans";
    --text-font: "Roboto";
}


/* Master */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font), "sans-serif";
    height: 100%;
    background: var(--neon-bg-color)
}

h1 {
    color: var(--neon-color2);
    margin-left: 20px;
    margin-bottom: 2em;
    font-family: var(--neon-font), cursive;
    width: fit-content;

    border: currentColor .125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon-color2);
    box-shadow: inset 0 0 0.5em 0 var(--neon-color2), 0 0 0.5em 0 var(--neon-color2);

    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    background: var(--neon-color2);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
}

h2 {
    color: var(--neon-color3);
    font-family: var(--neon-font), cursive;
    width: fit-content;
    height: fit-content;

    border: currentColor .125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon-color3);
    box-shadow: inset 0 0 0.5em 0 var(--neon-color3), 0 0 0.5em 0 var(--neon-color3);

    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    background: var(--neon-color3);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
}

p {
    color: var(--text-color)
}

.container {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

/* Navigationsleiste */
nav {
    display: flex;
    justify-content: space-between;
    padding: var(--nav-footer-padding);
}

.left-side {
    display: flex;
}

.nav-link {
    margin-right: 20px;
    font-size: 1rem;
    text-transform: uppercase;

    color: var(--neon-color);
    text-decoration: none;
    font-family: var(--neon-font), cursive;
    border: var(--neon-color) .125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon-color);

    box-shadow: inset 0 0 0.5em 0 var(--neon-color), 0 0 0.5em 0 var(--neon-color);

    position: relative;
}

.nav-link::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon-color);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(30deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--neon-color);
    opacity: 0;
    transition: opacity 0.1s linear;
    background-color: var(--neon-color);
    z-index: -1;
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--neon-bg-color);
    text-shadow: none;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

/* Fußleiste */

footer {
    display: flex;
    justify-content: space-between;
    padding: var(--nav-footer-padding);
}

#left-footer {
    flex-direction: column;
}

.footer-entry {
    color: var(--text-color)
}

.footer-entry a {
    color: var(--text-color)
}

/* Spiele-Index */

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    position: relative;
    display: grid;
    place-items: center;
}

.img-background {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#space-invaders-bg {
    background-image: url(images/Space_Invaders.png);
}

#pong-bg {
    background-image: url(images/Pong.png);
}

#tetris-bg {
    background-image: url(images/Tetris.png);
}

#snake-bg {
    background-image: url(images/Snake.png);
}

.logo {
    position: absolute;
}

.logo img {
    width: 50%;
    margin-bottom: auto;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.game_text {
    text-align: center;
}

.game_text h2 {
    margin: 25px auto;
}

.game_text p {
    font-weight: 300;
    width: clamp(45ch, 100%, 75ch);
    margin: auto;
    text-align: justify;
}

/* About-Seite */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    text-align: center;
}

figure a {
    color: var(--neon-color4);
}

figure img {
    width: min(100%, 600px);
}

.profile-text {
    padding: 30px;
    font-weight: 300;
    width: clamp(45ch, 100%, 75ch);
}

.profile-text a {
    color: var(--neon-color4);
}

/* Spiele-Seiten */

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    margin-right: 15px;
}

.instruction-score-wrapper {
    width: auto;
    margin-left: 20px;
}

.instruction p {
    width: clamp(45ch, 50%, 75ch);
}

/* Gästebuch */

.guestbook_section {
    margin-left: 20px;
    transition: 1s;
}

label {
    color: var(--text-color);
    font: var(--text-font);
}

#comment_block {
    color: var(--text-color);
}

.answer_field {
    display: none;
    transition: 1s;
}