@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Variablen */

:root{
    --nav-footer-padding: 38px;
}


/* Master */
body {
    margin: 0px;
    font-family: "Roboto", "sans-serif";
}

h1 {
    color: lightseagreen;
    margin-left: 20px;
}

h2 {
    color: #52e0d9;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/* Navigationsleiste */
nav {
    display: flex;
    justify-content: space-between;
    padding: var(--nav-footer-padding);
}

.left-side {
    display: flex;
}

nav > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color:black;
}

.active-nav-link {
    border-bottom: 1px solid #8a8a8a;
}

/* Fußleiste */

footer {
    display: flex;
    justify-content: space-between;
    padding: var(--nav-footer-padding);
}

/* Spiele-Index */

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    position: relative;
    display: grid;
    place-items: center;
}

.img-background {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#space_invaders {
    background-image: url(images/Space_Invaders.png);
}

#pong {
    background-image: url(images/Pong.png);
}

#tetris {
    background-image: url(images/Tetris.png);
}

#snake {
    background-image: url(images/Snake.png);
}

.logo {
    position: absolute;
}

.logo img {
    width: 50%;
    margin-bottom: auto;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.game_text {
    text-align: center;
}

.game_text p {
    font-weight: 300;
    color: black;
    width: clamp(45ch, 100%, 75ch);
    margin: auto;
    text-align: justify;
}

/* About-Seite */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    text-align: center;
}

figure img {
    width: min(100%, 600px);
}

.profile-text {
    padding: 30px;
    font-weight: 300;
}

.two-column a:link {
    color: lightseagreen;
}

.two-column a:visited {
    color: seagreen;
}

/* Spiele-Seiten */

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instruction-score-wrapper {
    width: auto;
    margin-left: 20px;
}